[Unit]
Description=LaserWeb4 server

[Service]
ExecStart=/usr/local/lib/nodejs/node-v10.18.0-linux-x64/bin/node /home/torsten/lw.comm-server/server.js -r
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=lw.comm-server
WorkingDirectory=/home/torsten/lw.comm-server
User=torsten
#Group=<alternate group>
Environment=NODE_ENV=production PORT=8000

[Install]
WantedBy=multi-user.target

